-> QUESTION - 1.
Create one variable containing following type of data:

In [2]:
a = "hello world"

In [3]:
type(a)

str

In [4]:
b = [1,2,25.56,True,False,(1,2)]

In [5]:
type(b)

list

In [6]:
c = 25.56

In [7]:
type(c)

float

In [8]:
d = (1,2,3)

In [9]:
type(d)

tuple

-> QUESTION 2.
Given are some following variables containing data:

What will be the data type of the above given variable.

In [20]:
var1 = ' '

In [21]:
type(var1)

str

In [22]:
var2 = '[DS,ML,Python]'

In [23]:
type(var2)

str

In [24]:
var3 = ["DS","ML","Python"]

In [25]:
type(var3)

list

In [26]:
var4 = 1

In [28]:
type(var4)

int

-> QUESTION 3.
Explain the use of the following operators using an example

(i)/




(i) The "/" operator is the division operator. It is used to divide one number by another and obtain the
quotient or the result of the division. Here's an example:

In [30]:
a = 10
b = 5
c = a/b
print(c)

2.0

(ii)%


The "%" operator is the modulus operator. It is used to calculate the remainder of a division operation.
Here's an example:

In [32]:
a = 10
b = 3
c = a%b
print(c)

1

(iii)//



The "//" operator is the floor division operator. It performs division similar to the "/" operator but
rounds the result down to the nearest whole number. Here's an example:

In [34]:
a = 10
b = 3
c = a//b
print(c)

3

(iv)**



The "**" operator is the exponentiation operator. It is used to raise a number to a certain power. Here's
an example:

In [35]:
a = 10
b = 3
c = a**b
print(c)

1000

-> QUESTION 4.


Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [37]:
a = [1,2,25.55,True,0.05,(1,2),"pw",False,1,2,"data science"]
for i in a:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'float'>
<class 'tuple'>
<class 'str'>
<class 'bool'>
<class 'int'>
<class 'int'>
<class 'str'>

-> QUESTION 5.


Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [16]:
A = int(input("Enter number A: "))
B = int(input("Enter number B: "))
count = 0  
while A % B == 0:
    count += 1
    A //= B  

if count > 0:
    print(f"{A} is divisible by {B} {count} times.")
else:
    print(f"{A} is not divisible by {B}.")

Enter number A:  120
Enter number B:  2

15 is divisible by 2 3 times.

-> QUESTION 6.



Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [15]:
my_list = [12, 5, 15, 7, 9, 25, 29, 27, 30, 11, 14, 36, 21, 8, 100, 19, 20, 25, 5, 4, 10, 16, 24, 28, 32]
for num in my_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

12 is divisible by 3
5 is not divisible by 3
15 is divisible by 3
7 is not divisible by 3
9 is divisible by 3
25 is not divisible by 3
29 is not divisible by 3
27 is divisible by 3
30 is divisible by 3
11 is not divisible by 3
14 is not divisible by 3
36 is divisible by 3
21 is divisible by 3
8 is not divisible by 3
100 is not divisible by 3
19 is not divisible by 3
20 is not divisible by 3
25 is not divisible by 3
5 is not divisible by 3
4 is not divisible by 3
10 is not divisible by 3
16 is not divisible by 3
24 is divisible by 3
28 is not divisible by 3
32 is not divisible by 3

-> QUESTION 7.


What do you understand about mutable and immutable data types? Give examples for both showing
this property.

MUTABLE:

On the other hand, a mutable data type allows its state to be modified after it is created. This means

that you can change the internal values or properties of a mutable object without creating a new
object.

EXAMPLE:

numbers = [1, 2, 3]

numbers.append(4) # Modifies the existing list

numbers[1] = 5 # Modifies the value at index 1

INNMUTABLE:

An immutable data type is one whose state cannot be modified after it is created. This means that
once an object of an immutable data type is assigned a value, that value cannot be changed. Instead,
any operation that appears to modify an immutable object actually creates a new object with the
updated value.

Example:

String:

name = "Alice"

name = name + " Smith" # This creates a new string with the concatenated value